<%= form_with model: recipe, local: true do |form| %>
  <!-- 変数をrecipeをobjという名前で渡します。他のモデルのエラー内容を表示する可能性があるので、汎用性のあるobjという名前にしています。 -->
  <%= render "shared/errors", obj: recipe %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :new_image %>
    <%= form.file_field :new_image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :material %>
    <%= form.text_area :material, rows: 5, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, rows: 5, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :point %>
    <%= form.text_field :point, class: "form-control" %>
  </div>
  <%= form.submit class: "btn btn-primary" %>
<% end %>