<div class="col-md-10 offset-md-1 mt-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <!-- ビューヘルパー利用 -->
      <%= show_recipe_image @recipe %>
      <% if user_signed_in? %>
        <div class="buttons row mt-4 text-center">
          <div class="button1 iine_button message">
            <a><%= render 'likes/like', recipe: @recipe %><span class="remark">いいね！</span></a>
          </div>
          <div class="button2 muzukasiine_button message2">
            <a><%= render 'hards/hard', recipe: @recipe %><span class="remark">むずかしいね！</span></a>
          </div>
        </div>
      <% else %>
        <div class="buttons row mt-4 text-center">
          <div class="button1 iine_button message">
            <a>😋 <%= @recipe.likes_count %><span class="remark">いいね！</span></a>
          </div>
          <div class="button2 muzukasiine_button message2">
            <a>😵 <%= @recipe.hards_count %><span class="remark">むずかしいね！</span></a>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <h2><%= @recipe.title %></h2>
        <hr>
        <b><%= t '.category' %>：</b><%= @recipe.category&.name %>
        <hr>
        <b><%= t '.material' %>：</b><%= simple_format @recipe.material %>
        <hr>
        <b><%= t '.body' %>：</b><%= simple_format @recipe.body %>
        <hr>
        <b><%= t '.point' %>：</b><%= simple_format @recipe.point %>
        <hr>
        <p class="padding"><%= image_tag("yc.png", {:width => "200"}) %></p>
        <%= render partial: "reviews/review", collection: @recipe.reviews %>
        <p class="padding">
        <% if user_signed_in? %>
          <%= link_to t(".review_new"), new_recipe_review_path(@recipe), class: "btn btn-info" %>
        <% end %>
        <%= link_to t(".return"), recipes_path, class: "btn btn-secondary" %>
        </p>
    </div>
  </div>
</div>

<div class="message">
<a>パスタ
<span class="remark">パスタは最安値500g90円。パスタを手に握って100円玉より大きいくらいが一人前150gの目安</span>
</a>
</div>