<%= form_with model: [recipe, review], local: true do |form| %>
  <%= render "shared/errors", obj: review %>
  <div class="form-group">
    <%= form.label :evaluation %>
    <%= form.select :evaluation, { t(".eva1") => "1", t(".eva2") => "2", t(".eva3") => "3" } , {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label t(".body") %>
    <%= form.text_area :body, rows: 5, class: "form-control" %>
  </div>
  <%= form.submit class: "btn btn-primary" %>
  <%= link_to t(".back"), :back, class: "btn btn-secondary" %>
<% end %>