<div class="col-md-10 offset-md-1 mt-5">
  <div class="row">
    <div class="col-md-4 mb-4">
    <% if @howto.image.attached? %>
    <a href="https://s3-ap-northeast-1.amazonaws.com/zuborameshiimage/sanma.usdz" rel="ar">
      <%= image_tag @howto.image.variant(resize: "300x300"), class: "img-thumbnail" %>
    </a>
    <% elsif @howto.image.attached? %>
      <%= image_tag @howto.image.variant(resize: "300x300"), class: "img-thumbnail" %>
    <% else %>
      <%= image_tag "img_warning.png", class: "img-thumbnail" %>
    <% end %>
    </div>
    <div class="col-md-8">
      <h2><%= @howto.title %></h2>
        <b><%= t '.howto' %>：</b><%= simple_format @howto.body %>
    </div>
  </div>
</div>
