<div class="col-md-10 offset-md-1 mt-5">
  <div class="row">
    <div class="col-md-4 mb-4">
    <% if @howto.image.attached? %>
    <a href= <%= @howto.url %>>
    <%= puts "以下URL" %>
    <%= puts @howto.url %>
    <%= link_to image_tag(@howto.image.variant(resize: "300x300"), class: "img-thumbnail"), "#{@howto.url}" %>
    </a>
    <% else %>
      <%= image_tag "img_warning.png", class: "img-thumbnail" %>
    <% end %>
    </div>
    <div class="col-md-8">
      <h2><%= @howto.title %></h2>
        <b><%= t '.howto' %>：</b><%= simple_format @howto.body %>
    </div>
  </div>
</div>
