<!DOCTYPE html>
<html>
  <head>
    <title>ズボラメシ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  <style type="text/scss">
  <meta http-equiv="Content-Style-Type" content="text/css">
  </style>
  </head>

  <body>
    <%= render "shared/header" %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render "shared/flash" %>
        </div>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <footer class="footer">フッタ</footer>
  </body>
</html>
